
<div class="container w-max flex flex-row flex-wrap">
  <% if(books){ books.forEach((book) => { %>
  <div class="max-w-md w-11/12 lg:flex px-1.5 py-1.5">
    <div
      class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden object-center"
      style="background-image: url('<%= book.cover %>')"
      title="Woman holding a mug"
    ></div>
    <div
      class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <div class="mb-8">
        <div class="text-black font-bold text-xl mb-2"><%= book.title %></div>
        <p class="text-grey-darker text-base">
          <% if (book.subtitle) { %>
            <h2><%= book.subtitle %></h2>
            <% }else{ %>
            <h2><%= "" %></h2>
            <% } %>
       
        </p>
      </div>
      <p>Language: <% if (book.language) { %>
        <h2><%= book.language %></h2>
        <% }else{ %>
        <h2><%= "" %></h2>
        <% } %></p>
      <div class="flex items-center">
       
        <div class="text-sm">
          <p class="text-black leading-none">
            <% if (book.publisher) { %>
              <h2><%= book.publisher %></h2>
              <% }else{ %>
              <h2><%= "" %></h2>
              <% } %>
          </p>
          <p class="text-grey-dark">
            <% if (book.publishedDate) { %>
              <h2><%= book.publishedDate %></h2>
              <% }else{ %>
              <h2><%= "" %></h2>
              <% } %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% });} %>
</div>
